extends layout

block content

  div(class="container")
  div(class="row")
    div(class="col-sm-4")

    div(class="col-sm-4")

      h1= 'Dictionary'
      br
      div
        table(class="table")
            tr
              th(style="text-align: center") Word
              th(style="text-align: center") Definition  
            each word, id in words
              tr
                td #{word.word}
                td #{word.definition}
                td
                  form(action="", method="post")
                    input(type="text" name="word", value=word.word, style="display:none")
                    input(type="text" name="definition", value=word.definition, style="display:none")
                    button.btn-primary(type='submit') Delete
                    //- , style="display:none"

    div(class="col-sm-4")
